:root {
    --container-primary: 1100px;
    --container-secondary: 540px;
    --gap: 20px;
    --gap-sm: calc(var(--gap) * 0.5);
    --gap-lg: calc(var(--gap) * 1.5);
    --gap-xl: calc(var(--gap) * 2);
    --color-primary: #34547A;
    --color-gray-light: #EEEFF1;
    --color-secondary: #727272;
    --color-white: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    line-height: 164%;
  }

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: var(--color-gray-light);
    padding: 2% 5%;
    height: auto;
    padding-left: 20%;
}

.header__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 0;
}

.nav__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.nav__item {
    margin: 2rem 4rem 1rem 0;
}

.nav__link {
    text-decoration: none;
    color: #333;
}

.nav__item--blue .nav__link {
    color: var(--color-primary);
}

.header__design.design {
    margin-top: 10vh;
    text-align: left;
    max-width: var(--container-secondary);
}

.design__title {
    margin: 2rem 0;
    font-size: 2.5rem;
    font-weight: 500;
}

.design__text {
    margin-top: 2rem;
    font-size: 1rem;
    color: var(--color-secondary);
}

.design__button {
    margin: 2rem 0 5vh;
    background-color: var(--color-primary);
    padding: 1rem 2rem;
    font-size: 1rem;
    color: var(--color-white);
    border: none;
    cursor: pointer;
    width: auto;
    min-width: 150px;
    height: auto;
}

.about {
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 29vh;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
}

.about__title {
    margin: 2rem 0;
    font-size: 2.5rem;
    font-weight: 500;
}

.about__text {
    margin-top: 1.5rem;
    color: var(--color-secondary);
}

.info {
    color: var(--color-white);
    display: flex;
    background-color: var(--color-primary);
    min-height: 16vh;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    flex-wrap: wrap;
}

.info__block.info-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-block__text-container {
    position: relative;
    left: 20px;   
}

.info-block__image {
    width: 40px;
    height: 40px;
}

.work {
    min-height: auto;
    background-color: var(--color-gray-light);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5% 0 1%;
}

.work__title {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

.work__text {
    color: var(--color-secondary);
    font-size: 0.9rem;
    margin-bottom: 57px;
}

.work__picture-container.picture-container {
    margin-bottom: 4%;
    max-width: 100%;
    position: relative;
}

.picture-container__image {
    max-width: 55%;
    height: auto;
    filter: brightness(0.4);
}

.picture-container__play-button.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5%;
    cursor: pointer;
}

.footer {
    display: flex;
    color: var(--color-white);
    min-height: 10vh;
    background-color: var(--color-primary);
    padding: 0 5%;
    align-items: center;
    padding-left: 20%;
}

.footer__container {
    margin-left: 0;
}

.footer__name {
    font-size: 1.2rem;
}

.footer__rights {
    margin-top: 0.8rem;
    font-size: 0.7rem;
}

@media (max-width: 375px) {
    .header__container {
        flex-direction: column;
        align-items: center;
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
    }

    .nav__item {
        margin: 1rem 0;
    }

    .header__design.design {
        text-align: center;
    }

    .design__title {
        font-size: 1.8rem;
    }

    .info {
        gap: 1rem;
    }

    .footer__container {
        flex-direction: column;
        align-items: center;
        padding-left: 5%;
    }
}