:root {
    --container-primary: 1100px;
    --container-secondary: 540px;
    --gap: 20px;
    --gap-sm: calc(var(--gap) * 0.5);
    --gap-lg: calc(var(--gap) * 1.5);
    --gap-xl: calc(var(--gap) * 2);
    --color-primary: #34547A;
    --color-gray-light: #EEEFF1;
    --color-secondary: #727272;
    --color-white: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    line-height: 164%;
}

body {
    font-family: 'Roboto';
}

.header {
    background-color: var(--color-gray-light);
    padding: 79px 0 141px;
}

.header__container {
    display: flex;
    flex-wrap: wrap;
}

.container {
    width: min(100% - var(--gap-xl), var(--container-primary));
    margin-inline: auto;
}

.container-sm {
    width: min(100% - var(--gap-xl), var(--container-secondary));
    margin-inline: auto;
}

nav {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.nav__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
}

.nav__link {
    text-decoration: none;
    color: #000000;
}

.nav__item--current .nav__link {
    color: var(--color-primary);
    font-weight: 500;
}

.header__design.design {
    margin-top: 162px;
    text-align: left;
    max-width: var(--container-secondary);
}

.design__title {
    font-size: 48px;
    font-weight: 500;
}

.design__text {
    font-weight: 400;
    margin-top: 60px;
    font-size: 16px;
    color: var(--color-secondary);
}

.design__button {
    font-family: 'Roboto';
    letter-spacing: 1.5px;
    font-weight: 400;
    font-size: 16px;
    margin-top: 65px;
    background-color: var(--color-primary);
    padding: 1rem 2rem;
    color: var(--color-white);
    border: none;
    cursor: pointer;
    width: 225px;
    height: 65px;
}

.about {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 112px;
    padding-bottom: 100px;
}

.about__title {
    font-size: 32px;
    font-weight: 500;
}

.about__text {
    font-size: 16px;
    font-weight: 400;
    margin-top: 4vh;
    color: var(--color-secondary);
}

.experience {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding-top: 100px;
    padding-bottom: 100px;
}

.experience__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--gap-xl);
}

.experience-item {
    display: flex;
    gap: var(--gap);
}

.experience-item__description {
    line-height: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.experience-item__number {
    font-size: 1.3125rem;
    font-weight: 500;
}

.experience-item__picture {
    display: block;
    order: -1;
}

.experience-item__image {
    display: block;
}

.work {
    background-color: var(--color-gray-light);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.work__info {
    padding-top: 100px;
    padding-bottom: 57px
}

.work__title {
    font-size: 32px;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 50px;
}

.work__text {
    color: var(--color-secondary);
    font-size: 16px;
    font-weight: 400;
}

.work-video {
    background-color: var(--color-gray-light);
    margin-bottom: 100px;
    position: relative;
    display: flex;
    justify-content: center;
}

.video__iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    border: 0;
    min-height: 200px;
}

.footer {
    display: flex;
    color: var(--color-white);
    background-color: var(--color-primary);
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer__name {
    font-size: 21px;
    font-weight: 500;
    line-height: 100%;
}

.footer__rights {
    margin-top: 20px;
    font-size: 13px;
    font-weight: 400;
    line-height: 164%;
}

@media (max-width: 375px) {
    .header__container {
        flex-direction: column;
        align-items: center;
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
    }

    .nav__item {
        margin: 1rem 0;
    }

    .header__design.design {
        text-align: center;
    }

    .design__title {
        font-size: 1.8rem;
    }

    .info {
        gap: 1rem;
    }

    .footer__container {
        flex-direction: column;
        align-items: center;
        padding-left: 5%;
    }
}